#app{
    margin: 2%
}
.loginInput{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 250px;
}
.loginBtn {
    width: 120px;
    margin-top: 10px;
}
.welcome{
    float:left;
    height:33px;
    font-size:85%;
    margin-right:5px;
}
.divHeader{
    margin-bottom:15px;
}
.btnEntranceChat{
    position: absolute;
    right: 5px;
}
.divWithBtn{
    text-align: center;
}
.inputNameChat{
    width: 200px;
}
.divCreateChat{
    float: left;
    margin-right: 5px;
}
.btn{
    margin-left: auto;
    margin-right: auto;
}
.chatsList{
    margin-top: 10px;
    width: 200px;
}