.btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 120px;
}
.divWithBtn{
    text-align: center;
}
.form-control{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 250px;
}